@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  /* Variables por tema */
  :root {
    --text: #050315;
    --background: #fbfbfe;
    --primary: #2f27ce;
    --secondary: #dedcff;
    --accent: #433bff;
  }

  .dark {
    --text: #ebe9fc;
    --background: #010104;
    --primary: #3a31d8;
    --secondary: #020024;
    --accent: #0600c2;
  }

  /* Colores base por tipo de elemento */
  body {
    background-color: var(--background);
    color: var(--text);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    @apply font-bold;
  }

  p, li, ul, ol, a {
    color: var(--text);
  }

  a {
    color: var(--accent);
    text-decoration: underline;
  }

  a:hover {
    color: var(--primary);
  }

  span {
    color: var(--accent);
  }

  strong {
    color: var(--primary);
  }

  code {
    background-color: var(--secondary);
    color: var(--accent);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: monospace;
  }
}
