---
import Layout from "../layouts/Layout.astro";
import LibroPresentation from "../components/LibroPresentation.astro";
import Header from "../components/Header.astro";
import BuscarLibro from "../components/BuscarLibro.astro";
import ButtonIndex from "../components/ButtonIndex.astro";

const res = await fetch("http://localhost:4321/api/getBooks"); // cambia host si deployas
const libros = await res.json();
---

<Layout>
  <main class="mx-auto">
    <Header />

    <section
      class="h-screen bg-[var(--bg-background)] flex items-center justify-center gap-8"
    >
      <article class="text-center space-y-4">
        <h1 class="text-5xl font-extrabold drop-shadow-md">Zazu Librería</h1>

        <p class="text-[var(--text)] text-lg leading-relaxed mx-auto mx-1/4">
          Librería virtual para leer libros.
          Puedes subir los tuyos y agregarle precio.<br>
          Leer PDF gratis, calificarlos y comprarlos.
        </p>
        
        <a
          class="group relative inline-block text-sm font-medium focus:ring-3 focus:outline-none"
          href="#"
        >
          <!-- Borde principal -->
    

          <!-- Fondo y contenido -->
          <div class="flex gap-12">
            <ButtonIndex id="crearCuenta" >Crear cuenta</ButtonIndex>
            <ButtonIndex id="subirLibro" >Subir libro</ButtonIndex>
          </div>
          

        </a>

    
      </article>

      <picture>
        <img id="gato" class="h-80 object-contain" src="https://png.pngtree.com/png-clipart/20230914/original/pngtree-yorkie-clipart-yorkshire-terrier-dog-cartoon-vector-png-image_12152349.png" alt="gato" />
      </picture>
      <div class="absolute bottom-8 flex justify-center w-full">
        <svg
          data-testid="geist-icon"
          width="32"
          height="32"
          stroke-linejoin="round"
          viewBox="0 0 16 16"
          style="color: currentColor;"
          class="animate-bounce"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.74999 1.75V1H7.24999V1.75V12.4393L3.28032 8.46967L2.74999 7.93934L1.68933 9L2.21966 9.53033L7.29288 14.6036C7.68341 14.9941 8.31657 14.9941 8.7071 14.6036L13.7803 9.53033L14.3107 9L13.25 7.93934L12.7197 8.46967L8.74999 12.4393V1.75Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </section>

    <BuscarLibro />
    <!-- Sección Libros -->
    <section
      class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-5 p-12 my-12"
    >
      {libros.map((libro: object) => <LibroPresentation {...libro} />)}
    </section>

  </main>
</Layout>

<style>
  #gato {
    transform: scaleX(-1);
  }
</style>
