---
import Layout from "../layouts/Layout.astro";
import LibroPresentation from "../components/LibroPresentation.astro";
import Header from "../components/Header.astro";
import BuscarLibro from "../components/BuscarLibro.astro";
import Modal from "../components/Modal.astro";
import UploadBookModal from "../components/UploadBookModal.astro";
import ButtonsIndex from "../components/ButtonIndex.astro";
import IniciarSesionModal from "../components/InciarSesionModal.astro";
import InciarSesionModal from "../components/InciarSesionModal.astro";
import Books from "../components/Books.jsx";

const res = await fetch("https://zazu-libros.vercel.app/api/getBooks"); // cambia host si deployas
const libros = await res.json();
---

<Layout>
  <main class="mx-auto">
    <Header />

    <section
      class="h-screen bg-[var(--bg-background)] flex items-center justify-center gap-8"
    >
      <article class="text-center space-y-4">
        <h1 class="text-5xl font-extrabold drop-shadow-md">Zazu Librería</h1>

        <p class="text-[var(--text)] text-lg leading-relaxed mx-auto mx-1/4">
          ¡Leer PDF gratis - Subir PDF - Cobrar por tus PDF!<br />
          Todo en el mismo lugar.
          
        </p>

        <a
          class="group relative inline-block text-sm font-medium focus:ring-3 focus:outline-none"
          href="#"
        >
          <!-- Borde principal -->

          <!-- Fondo y contenido -->
          <div class="flex gap-12">
            
            <div class="relative group inline-block">
              <!-- Borde animado -->
              <span
                class="absolute inset-0 rounded border border-transparent
                                   group-hover:border-[var(--hover-border)]
                                   group-active:border-[var(--active-border)]
                                   pointer-events-none"
              ></span>

              <!-- Botón con borde base -->
              <button
                onclick="my_modal_2.showModal()"
                class="relative z-10 block border border-[var(--border)]
                                   bg-[var(--background)] px-12 py-3 rounded
                                   transition-transform duration-200 ease-out
                                   hover:-translate-x-1 hover:-translate-y-1
                                   hover:bg-[color:var(--hover-color)]
                                   active:translate-x-0 active:translate-y-0
                                   hover:cursor-pointer"
              >
                Subir libro
              </button>
            </div>
            <Modal />
            <UploadBookModal />
            <InciarSesionModal />
          </div>
        </a>
      </article>

      <picture>
        <img
          id="gato"
          class="h-80 object-contain"
          src="/zazuImageIndex.webp"
          alt="gato"
        />
      </picture>
      <div class="absolute bottom-8 flex justify-center w-full">
        <svg
          data-testid="geist-icon"
          width="32"
          height="32"
          stroke-linejoin="round"
          viewBox="0 0 16 16"
          style="color: currentColor;"
          class="animate-bounce"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.74999 1.75V1H7.24999V1.75V12.4393L3.28032 8.46967L2.74999 7.93934L1.68933 9L2.21966 9.53033L7.29288 14.6036C7.68341 14.9941 8.31657 14.9941 8.7071 14.6036L13.7803 9.53033L14.3107 9L13.25 7.93934L12.7197 8.46967L8.74999 12.4393V1.75Z"
            fill="currentColor"></path>
        </svg>
      </div>
    </section>

    <Books client:load />
  </main>
</Layout>

<style>
  #gato {
    transform: scaleX(-1);
  }
</style>
