---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>jpadsf</h1>
</Layout>

<script>
  const response = await fetch("/api/anache");
  const pdfs = await response.json();

  pdfs.forEach((pdf) => {
    console.log(pdf.nombre, pdf.autor, pdf.archivo_url, pdf.calificaciones);
  });
</script>
