<header
  class="fixed top-0 left-0 w-full z-50 backdrop-blur-md bg-[var(--background)]/70 overflow-visible border-b border-gray-500/20"
>
  <div class="max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-12 items-center justify-between">

      <!-- LOGO -->
      <a href="/" class="flex items-center gap-3">
        <img 
          src="/zazuImageIndex.webp"
          alt="Logo de Zazu Libros"
          class="h-32 w-auto object-contain -ml-2 mt-18"  
        />

        <span class="text-2xl font-bold text-[var(--text)]">
          Zazu Libros
        </span>
      </a>

      <!-- NAV derecha -->
      <nav class="text-right flex gap-3 justify-center items-center">
        <img
        class="size-6"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWXXatvGdUncxQEmUwic8sz5sOGJCfT-ES2A&s" alt="">
        <a 
          href="https://www.tiktok.com/@tucuenta" 
          target="_blank"
          class="text-[var(--text)] hover:text-[var(--primary)] font-semibold transition"
        >
          TikTok
        </a>
      </nav>

    </div>
  </div>
</header>

<!-- Empuje para evitar superposición -->
<div class="h-24"></div>
